.films-page {
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    max-width: 1160px;
    margin: auto;  
    justify-content: space-between;
    @media (max-width: 1160px) {
        max-width: 1000px;
    }
    @media (max-width: 722px) {
        justify-content: center;
    }

    .film-search {
        border-left: 1px solid #5B5454;
        padding: 0 100px;
        display: flex;
        align-items: center;    
    }
   
}
.css-19im320-MuiAutocomplete-root {
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 16px;

}