[data-theme="dark"] {
    --background: #2E2A2A;
    --background-header: #423E3E;
    --text: white;
}
[data-theme="light"] {
    --background: #EFEBE9;
    --background-header: #BCAAA4;
    --text: black;
}