.header {
    height: 70px;
    width: 100%;

    .container {   
        margin: auto;
        display: flex;  
        border-bottom: 5px solid #410707;
        background-color: var(--background-header);
        color: var(--text);
    }
    .header__title {
        padding-left: 10px;
        font-weight: bold;
        font-size: 33px;
        line-height: 70px;
        margin: 0;
    }
    .header__cinema-icon {
        position: relative;
        top: 5px;
        left: -125px;
        z-index: 3;
        width: 50px;
        height: 40px;
    }
    .header-search {
        border-left: 1px solid #5B5454;
        padding: 0 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__profil {
        margin-left: auto;
        padding: 8px 8px 0px 8px;
        flex-direction: column;
        width: 165px;
        display: flex;  
        text-align: center;
        border-left: 1px solid #5B5454;
    }
    .header__profil-login {
        margin-bottom: 8px;
    }
    .header__search-icon {
        width: 20px;
        height: 20px;
        padding-left: 10px;
    }
    .header__login-btn {
        font-size: 14px;
        color: white;
        padding:4px;
       
        font-family:  Helvetica, Arial, sans-serif;
        border-radius: 5px;
        text-decoration: none;
    }
}


