@import "../styles/colors.scss";
@import "../styles/global.scss";

.app {
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  
  color: white;
  
  .app__main {
    min-height: 100vh;
  }


}