.container-nav {
    width: 1160px;
    margin: auto;
    display: flex;  
    justify-content: space-between;
    line-height: 40px;
    
    border-bottom: 5px solid #410707;
    .nav {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px; 
    }
    .nav__time {
        padding: 0 20px;
    }
}

